.way__title {
  text-decoration: underline;
  text-align: center;
}

.siteBody__description {
	font-weight: 600;
}

.siteBody__nativeXHR {
	background-color: blue;
}

.siteBody__fetch {
	background-color: red;
}

.siteBody__JSONP {
  background-color: yellow;
}

.siteBody__jQuery-Ajax {
  background-color: pink;
}

.siteBody__jQuery-get {
  background-color: green;
}

.siteBody__jQuery-post {
  background-color: purple;
}